%div{class: "centered seventy-percent-width"}
  = form_for :login do |f|
    %p
      = f.label :username, {class: "text-center"}
      %br/
      = f.text_field :username, {class: "form-control"}
    %p
      = f.label :password
      %br/
      = f.password_field :password, {class: "form-control"}
    %p
      = f.submit "Login", {class: "btn btn-primary"}
