%h1
	="#{@user.username}'s Orders:"


-@user_carts.each do |cart|
	-if cart.active? == false
		%table{class: "table table-hover"}
			%h1="Order Number: #{cart.id}"
			%h4= "submitted (#{cart.updated_at.strftime('%m/%d/%Y')})"
			%tr
				%th Item Name
				%th Quantity Ordered
				%th Product Price

			-cart.products.each do |each_product|
				%tr
				%td= each_product.title
				%td= each_product.calculate_quantity(cart)
				%td= each_product.calculate_quantity(cart)*each_product.price
			%tr
			%td
				%h4 Total Order Price:
			%td
			%td=cart.calculate_total_price


