%h1 Edit Your Cart

%table{class: "table table-hover"}
  %tr{}
    %th Product
    %th Price
    %th Quantity
    %th Edit Quantity
    %th Remove Item
  - @cart_products.each do |prod|
    %tr{class: "small-margin small-padding"}
      %td= prod.title
      %td= prod.price
      =form_for :carts_product, url: "/carts_products/#{prod.find_cart(@cart).id}", method: :patch do |f|
        %td
          = f.number_field :quantity, :value => prod.calculate_quantity(@cart)
        %td
          %p= f.submit "Edit Quantity"
      =form_for :carts_product, url: "/carts_products/#{prod.find_cart(@cart).id}", method: :delete do |f|
        %td
          %p= f.submit "Remove Item"

%p=link_to "Return to Checkout Page", "/carts/#{@cart.id}"
