%h1 Edit #{@product.title}

-if @errors
  = pluralize(@errors.count, "error")
  prohibited this product from being saved:
  -@product.errors.full_messages.each do |msg|
    %p=msg

=form_for :product, url:product_path(@product), method: :patch do |f|

  %p= f.label :title
  %p= f.text_field :title

  %p= f.label :price
  %p= f.number_field :price

  %p= f.label :description
  %p= f.text_area :description

  %p= f.label :inventory
  %p= f.number_field :inventory

  %p= f.label :'image url'
  %p= f.url_field :picture

  %p= f.label :'Categories'
  %p= f.collection_check_boxes(:category_ids, Category.all, :id, :name)

  %p= f.submit

%p=link_to "Cancel Edit", '/admin/index'

%p=link_to "Delete this Product", product_path(@product), method: :delete, data: { confirm: "Confirm Delete?" }
