%h1 New Product

=form_for :product, url: products_path do |f|

  %p= f.label :title
  %p= f.text_field :title

  %p= f.label :price
  %p= f.number_field :price

  %p= f.label :description
  %p= f.text_area :description

  %p= f.label :inventory
  %p= f.number_field :inventory

  %p= f.submit

%p=link_to "Cancel New", products_path
